.details {
  text-align: center;
}

.details img {
  width: 100%;
}

.details h3 {
  margin-top: 2rem;
  line-height: 2.5rem;
  font-size: 2rem;
}

.details q {
  margin-top: 2rem;
  line-height: 2.5rem;
  font-size: 1rem;
}

.details p {
  margin-top: 2rem;
  line-height: 2.5rem;
  font-size: 1rem;
}
